.project-section {
  width: 100%;
  padding: 80px 100px 80px 100px;
  background: linear-gradient(
    90deg,
    rgba(52, 17, 83, 1) 0%,
    rgba(1, 12, 51, 1) 100%
  );
}

.project-title {
  margin-bottom: 40px;
  font-family: var(--secondFont);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #f2f2f2;
}

.project-text {
  margin-top: 40px;
  margin-bottom: 91px;
  font-family: var(--thirdFont);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--mainColorLight);
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  align-content: center;
}

.project-box {
  box-sizing: border-box;
  height: 100%;
}

.project-card {
  width: 402px;
  background: #f2f2f2;
  border: 1px solid #000000;
  border-radius: 10px;
}

.project-card_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: url(.jpg);
  border-radius: 8px 8px 0px 0px;
}

.project-card_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 14px 0;
}

.project-card_title {
  margin-left: 17px;
  font-family: var(--thirdFont);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #01030f;
}

.project-card_description {
  font-size: 16px;
  font-family: var(--thirdFont);
}

.project-card_text {
  text-decoration: underline;
  margin-left: 18px;
  font-family: var(--thirdFont);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #01030f;
}

@media only screen and (max-width: 1200px) {
  .project-section {
    padding: 30px 80px;
  }
  .project-card {
    width: 480px;
  }
}

@media only screen and (max-width: 992px) {
  /* .project-card {
    width: fit-content;
  } */
  .project-container {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 768px) {
  .project-section {
    padding: 37px 40px;
  }
  .project-card {
    width: 400px;
  }
}
@media only screen and (max-width: 425px) {
  .project-card {
    width: 300px;
  }
  .project-card_image {
    width: 100%;
    height: 240px;
  }
}

@media only screen and (max-width: 320px) {
  .project-card {
    width: 260px;
  }
}
