.button {
  width: 100%;;
  height: 44px;
  background: var(--yellowColor);
  align-self: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-family: var(--secondFont);
  font-size: 1rem;
  font-weight: 400;
  color: var(--mainColorDark);
  text-transform: uppercase;
}
