.hero-section {
  display: flex;
  padding: 100px;
  background: linear-gradient(
    90deg,
    rgba(52, 17, 83, 1) 0%,
    rgba(1, 12, 51, 1) 100%
  );
  height: 600px;
}
.hero-box {
  /* flex: 1; */
  /* margin-left: 99px; */
  /* width: 610px;
  height: 187px; */
}
.hero-box_image {
  margin-top: -120px;
}
.hero-img {
  float: left;
  width: 500px;
  height: 600px;
}

.hero-title {
  font-size: 20px;
  font-family: var(--secondFont);
  font-weight: 400;
  color: var(--textColor);
}
.hero-main_title {
  font-family: var(--secondFont);
  font-weight: 500;
  font-size: 65px;
  line-height: 90px;
  color: var(--mainColorLight);
}
.hero-sub_title {
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 36px;
  line-height: 42.19px;
  color: var(--mainColorLight);
  margin-top: 20px;
}

.hero-btn {
  background-color: #ffa800;
  padding: 20px 35px;
  border-radius: 16px;
  margin-top: 24px;
  width: 281px;
  height: 68px;
  cursor: pointer;
}

.hero-btn p {
  line-height: 28px;
  font-family: var(--secondFont);
  font-weight: 400;
  align-items: center;
  font-size: 20px;
}
