.Join-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px 100px 86px 100px;
  justify-content: space-between;
}

.Join-box {
  /* width: 603px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.Join-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #01030f;
}

.Join-paragraph {
  font-family: var(--secondFont);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #01030f;
  margin-top: 20px;
  text-align: justify;
}

.Join-responsive-image {
  width: 550.56px;
  height: 515px;
  margin-top: 30px;
}

.Join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  border: none;
  width: 281px;
  height: 68px;
  background: #ffa800;
  border-radius: 16px;
  margin: 50px 0 0 0px;
}

.join-btn_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #01030f;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .Join-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .Join-responsive-image {
    width: 480px;
    height: 480px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .Join-responsive-image {
    margin-top: 30px;
  }
  .Join-container {
    padding: 37px 40px;
  }
  .Join-responsive-image {
    width: 380px;
    /* height: 364px; */
  }
}

@media (max-width: 425px) {
  .Join-responsive-image {
    margin-top: 20px;
  }
  .Join-responsive-image {
    width: 350px;
    height: 364px;
  }
  .Join-box {
    /* width: 340px; */
  }
  .Join-paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .Join-title {
    font-size: 36px;
    line-height: normal;
  }
}

@media (max-width: 320px) {
  .Join-responsive-image {
    margin-top: 20px;
  }
  .Join-container {
    padding: 35px 27px;
  }
  .Join-box {
    /* width: 280px; */
  }
  .Join-responsive-image {
    width: 280px;
    height: 317px;
  }
  .Join-title {
    text-align: center;
  }
  .join-btn__box {
    display: flex;
    justify-content: center;
  }
  .Join-btn {
    width: 229px;
    height: 49px;
    border-radius: 8px;
  }
  .join-btn_text {
    font-size: 14px;
  }
}
