.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px 0 100px;
  margin-top: 1.5rem;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 3rem;
  line-height: 47px;
  color: #01030f;
}

.form-text {
  width: 100%;
  max-width: 545px;
  margin-top: 39px;
  font-family: var(--thirdFont);
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #000000;
}

.form {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact-box {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.contact-box__image {
  height: auto;
}

.contact-box__text {
  padding: 1rem;
  font-family: var(--thirdFont);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #01030f;
}

.form-validation-msg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 12px;
  font-family: var(--secondFont);
  font-size: 0.9rem;
  color: red;
}

@media (min-width: 1024px) {
  .contact-container {
    padding: 30px 80px;
  }
  .form-box {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .contact-box__text {
    padding: 2.5rem;
  }
}
@media (max-width: 1024) {
  .contact-container {
    padding: 30px 80px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    padding: 37px 40px;
    flex-direction: row;
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  .contact-container {
    flex-direction: row;
    margin-top: 2rem;
  }
}
