.contact-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-title {
    font-family: var(--secondFont);
    font-weight: 700;
    font-size: 3rem;
    line-height: 47px;
    font-style: normal;
    color: #01030f;
}

.form-text {
    margin-top: 39px;
    font-family: var(--secondFont);
    font-style: normal;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 20px;
    width: 545px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}