header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  /* padding: 0 2rem; */
  padding: 12px 100px 12px 100px;
  background: linear-gradient(
    90deg,
    rgba(52, 17, 83, 1) 0%,
    rgba(1, 12, 51, 1) 100%
  );
  color: var(--textColor);
}

.title {
  font-size: 40px;
  color: var(--textColor);
  font-family: var(--primaryFont);
  line-height: 45.84px;
  font-weight: 500;
}

.navbar {
  /* display: flex; */
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

nav a {
  font-family: var(--primaryFont);
  font-size: 18px;
  /* margin: 0 2rem; */
  margin-left: 35px;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--yellowColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* @media only screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 27.6px;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
