.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
}

.input-title {
    font-family: (var(--secondFont));
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

.input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding: 18px 0 18px 20px;
    border: 1px solid;
}