.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 100px;
  margin-top: 60px;
  background: var(--secondaryColor);
}

.footer-logo {
  width: 112px;
  height: 21px;
  top: 4387px;
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 132.52%;
  color: #f2f2f2;
}

.icone {
  width: 35px;
  height: 28.667px;
  color: #f2f2f2;
  margin-right: 14px;
}
