.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 642px;
  padding: 12px 100px 12px 100px;
}

.sobre-box {
  flex: 1;
  width: 50%;
}

.sobre-title {
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-style: normal;
  color: #01030f;
  margin-bottom: 20px;
}
.sobre-paragrafo {
  margin-bottom: 39px;
  font-family: var(--thirdFont);
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  /* width: 545px; */
}

.sobre-box_imagem {
  width: 50%;
  height: 100%;
  flex: 1;
  text-align: center;
}

.responsive-image {
  width: 565px;
  height: 440px;
}

/* Media queries para dispositivos móveis */

@media screen and (max-width: 1200px) {
  .sobre-container {
    padding: 30px 80px;
  }
  .sobre-paragrafo {
    font-size: 16px;
    line-height: 26px;
  }

  .responsive-image {
    width: 400px;
    height: 400px;
  }
}

/* @media screen and (max-width: 850px) {
  .sobre-container {
    padding: 37px 40px;
  }
} */
@media screen and (max-width: 768px) {
  .sobre-container {
    padding: 37px 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobre-box {
    width: 100%;
  }
  .sobre-paragrafo {
    /* margin-bottom: 37px; */
    margin: 0 0 37px 0;
    font-size: 16px;
    line-height: 26px;
  }

  .sobre-box_imagem {
    width: fit-content;
  }

  .responsive-image {
    width: 310px;
    height: 236px;
  }
}

/* @media screen and (max-width: 480px) {
  .sobre-container {
    padding: 12px 30px;
    flex-direction: column;
   
  }

  .sobre-paragrafo {
    font-size: 14px;
    line-height: 18px;
    width: 265px;
  }

  .sobre-box_imagem {
    margin-top: 87px;
  }

  .responsive-image {
    width: 250px;
    height: 250px;
  }
} */
