.sobre-container {
  display: flex;
  width: 100%;
  height: 642px;
  padding: 12px 100px 12px 100px;
}

.sobre-box {
  flex: 1;

  margin-top: 87px;
  /* margin-bottom: 80px; */
}

.sobre-title {
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-style: normal;
  color: #01030f;
  margin-bottom: 20px;
}
.sobre-paragrafo {
  margin-bottom: 39px;
  font-family: var(--secondFont);
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  width: 545px;
}

.sobre-box_imagem {
  width: 565px;
  height: 430px;

  /* margin: 144px 105px 770px 68px; */
  flex: 1;
  text-align: center;

  margin-top: 144px;
  /* margin-bottom: 80px; */
}

.responsive-image {
  /* max-width: 100%; */
  width: 565px;
  height: 440px;
}
